@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
input:invalid {
  border: 2px #a32525;
}

input:valid {
  border: 2px #0F0F0F;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #F9F9F9;
  font-family: "Open Sans";
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 0 auto;
  max-height: fit-content;
  background-color: #ffff;
  filter: drop-shadow(0 0 0.95rem #E9E9E9);
}

.registration {
  padding: 24%;
  padding-top: 80px;
  padding-bottom: 80px;
  height: inherit;
}

header {
  grid-column: span 2;
  margin-bottom: 40px;
  text-align: center;
}

.create-account {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 800;
  color: #0F0F0F;
}

.social-media-account-registration {
  display: flex;
  color: #34c2eb;
  justify-content: space-between;
  list-style: none;
  margin-right: 20%;
  margin-left: 20%;
  padding: 0;
}

.email-registration-form {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.registration-form {
  display: inherit;
  grid-template-columns: 50% 50%;
  grid-column: span 2;
  grid-gap: 10px;
  width: 100%;
}

.email, .password, .confirm-password, .agree-terms, .sign-buttons {
  grid-column: span 2;
}

.name {
  grid-column: 1;
}

.username {
  grid-column: 2;
}

.registration-form label {
  display: flex;
  margin-bottom: 6px;
}

.registration-form input {
  padding: 10px;
  background-color: #F9F9F9;
  border-color: #E9E9E9;
  border-radius: 6px;
  border-style: solid;
  width: 100%;
}

.agree-terms {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.agree-terms #terms {
  width: 20px;
}

.sign-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

button {
  padding: 15px;
  color: #ffff;
  font-size: 15px;
  border-radius: 25px;
  font-weight: 500;
}

.sign-up-btn {
  background-image: linear-gradient(to left, #34c2eb, #1a7fc3);
  border-style: none;
  width: 50%;
}

.sign-in-btn {
  border-color: #34c2eb;
  background-color: #ffff;
  border-style: solid;
  color: #34c2eb;
  width: 50%;
}

.sign-up-btn:hover, .sign-up-btn:focus {
  transition: all 0.2s ease-in 0s;
  background-image: linear-gradient(to left, #50cff1, #3192d3);
  color: #ffff;
}

.sign-in-btn:hover, .sign-in-btn:focus {
  transition: all 0.2s ease-in 0s;
  box-shadow: inset 6.5em 0 0 0 var(--hover);
  background-image: linear-gradient(to left, #50cff1, #3192d3);
  color: #ffff;
}

.existing-members {
  grid-column: span 2;
  margin-top: 20px;
}

.illustration-image {
  background-image: url(../Assets/ghibli-vertical.jpg);
  background-size: cover;
  height: inherit;
}

@media screen and (max-width: 780px) {
  main {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
    max-height: fit-content;
    max-width: 740px;
    background-color: #ffff;
    filter: drop-shadow(0 0 0.95rem #E9E9E9);
  }

  .sign-up-btn {
    background-color: #34c2eb;
    border-style: none;
    width: 100%;
  }

  .sign-in-btn {
    border-color: #34c2eb;
    background-color: #ffff;
    border-style: solid;
    color: #34c2eb;
    width: 48%;
  }
}
@media screen and (max-width: 560px) {
  .registration {
    padding: 40px;
  }

  .sign-buttons {
    flex-direction: column;
  }

  .sign-up-btn {
    margin-bottom: 20px;
    width: 100%;
  }

  .sign-in-btn {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
