@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

// Style Variables
$font: 'Open Sans';
$bodytext-size: 16px;
$headline-size: 2em;
$headline-bold: 800;
$background-color: #F9F9F9;
$white: #ffff;
$black: #0F0F0F;
$accent-color:rgb(52, 194, 235);
$dropshadow-color: #E9E9E9;
$background-image: url(../Assets/ghibli-vertical.jpg);

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: $background-color;
    font-family: $font;
    -webkit-transition: ease-in 2s;
    -moz-transition: ease-in 2s;
    -o-transition: ease-in 2s;
    -ms-transition: ease-in 2s;
    transition: ease-in 2s;
}

//Container for registration and image

main {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px auto;
    max-height: fit-content;
    max-width: 980px;
    background-color: $white;
    filter: drop-shadow(0 0 0.95rem $dropshadow-color);
}

//Left column; registration section
.registration {
    padding: 80px; 
    height: inherit;
}

//Header contains headline text and registering with Social Media accounts.
header {
    margin-bottom: 40px;
    text-align: center;
}

//Create Account headline text
.create-account {
    margin-bottom: 20px;
    font-size: $headline-size;
    font-weight: $headline-bold;
    color: $black;
}


//Register with social media accounts
.social-media-account-registration {
    display: flex;
    color: $accent-color;
    justify-content: space-between;
    list-style: none;
    margin-right: 80px;
    margin-left: 80px;
    padding: 0;
}

//Registration forms
.email-registration-form {
    display: grid;
    width: 100%;
}

.registration-form {
    display: inherit;
    grid-gap: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.registration-form label {
    display: flex;
    margin-bottom: 6px;
}

.registration-form input {
    padding: 10px;
    background-color: $background-color;
    border-color: $dropshadow-color;
    border-radius: 6px;
    border-style: solid;
    width: 100%;
}

.agree-terms {
    margin-bottom: 40px;
}


//Buttons
.sign-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

button {
    padding: 15px;
    color: $white;
    font-size: $bodytext-size;
    border-radius: 25px;
    font-weight: 500;
}

.sign-up-btn {
    background-image: linear-gradient(to left, rgb(52, 194, 235), rgb(26, 127, 195));
    border-style: none;
    width: 48%;
}

.sign-in-btn {
    border-color: $accent-color;
    background-color: $white;
    border-style: solid;
    color: $accent-color;
    width: 48%;
}

.sign-in-btn:hover {
    transition: all 0.2s ease-in 0s;
    box-shadow: inset 6.5em 0 0 0 var(--hover);
    background-image: linear-gradient(to left, rgb(52, 194, 235), rgb(26, 127, 195));
    color: $white;
}

//Right column; illustration
.illustration-image {
    background-image: $background-image;
    background-size: cover;
    height: inherit;
}

// < 780px screens Media Query

@media screen and (max-width: 780px) {
    main {
        display: grid;
        grid-template-columns: 100%;
        margin: 0 auto;
        max-height: fit-content;
        max-width: 740px;
        background-color: $white;
        filter: drop-shadow(0 0 0.95rem $dropshadow-color);
    }
    .sign-up-btn {
        background-color: $accent-color;
        border-style: none;
        width: 48%;
    }
    .sign-in-btn {
        border-color: $accent-color;
        background-color: #ffff;
        border-style: solid;
        color: $accent-color;
        width: 48%;
    }
}

// < 560px screens Media Query

@media screen and (max-width: 560px) {
    .registration {
        padding: 40px; 
    }
    .sign-buttons {
        flex-direction: column;
    }
    .sign-up-btn {
        margin-bottom: 20px;
        width: 100%;
    }
    .sign-in-btn {
        width: 100%;
    }
}